* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

:root{
  background-color:rgb(240,242,245);
}
/*-------------------------------- header container */
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(180, 178, 178);
  padding: 3px 15px 0px;
  position:sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
/* search container */
.header-container .header__search-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
/* logo image */
.header-container .header__search-container .header__fb-logo .header__fb-logo-image{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.header-container .header__search-container .header__search-box{
  background-color: rgb(240,242,245);
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 0.9rem;
}
.header-container .header__search-container .header__search-box .fa-solid{
  color: gray;
}
.header-container .header__search-container .header__search-box input{
  font-size: 1rem;
  background-color: transparent;
  padding-left: 5px;
  font-size: 0.9rem;
}


/* ------------------------------------------navigation bar - nav-about */
.header-container .header__nav-about{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.header-container .header__nav-about .header__nav-about-icon{
  padding: 13px 40px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  color:rgb(101,103,107);
}
.header-container .header__nav-about .header__nav-about-icon-active{
  border-bottom: 3px solid rgb(27,116,228);
  color: rgb(27,116,228);
  padding-bottom:15px;
  border-radius: 0;
}
.header-container .header__nav-about .header__nav-about-icon:hover{
  background-color: #eee;
}
.header-container .header__nav-about .header__nav-about-icon-active:hover{
  background-color: transparent;
}
.header-container .header__nav-about .header__nav-about-icon i{
  font-size: 22px;
}
/* nav-about dropdown */
.header-container .header__nav-about-icon .header__nav-about-dropdown,
.header-container .header__right-menu-icon .header__right-menu-dropdown{
  display: none;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(26, 25, 25, 0.765);
  padding: 7px 13px;
  border-radius: 7px;
  z-index: 2;
}
.header-container .header__nav-about-icon .header__nav-about-dropdown .header__nav-about-dropdown-content
,.header-container .header__right-menu-icon .header__right-menu-dropdown .header__right-menu-dropdown-content{
  color: white;
  font-size: .8rem;
}
.header-container .header__nav-about-icon:hover .header__nav-about-dropdown,
.header-container .header__right-menu-icon:hover .header__right-menu-dropdown{
  display: block;
}


/*-------------------------------------------- header right menu */
.header-container .header__right-menu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.header-container .header__right-menu .header__right-menu-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(230, 227, 227);
  color: black;
  cursor: pointer;
  position: relative;
}
.header-container .header__right-menu .header__right-menu-icon i{
  font-size: 20px;
}
.header-container .header__right-menu .header__right-menu-icon .header__profile-image{
  width:40px;
  height: 40px;
  border-radius: 50%;
}
/* right menu dropdown */
.header-container .header__right-menu-icon .header__right-menu-dropdown{
  top: 120%;
}
.header-container .header__right-menu-icon .header__right-menu-dropdown-last{
  left: 20%;
}

/*------------------------------------ main body wrapper */
.main__body-wrapper{
  padding:10px 0 10px 10px;
  background-color:rgb(240,242,245);
  /* background-color: red; */
}
.main__body-wrapper .main__body-container{
  display:  flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  
}

/* -----------------------------------------left side */
.main__body-wrapper .main__body-container .left-side-container{
  width: 22.5%;
  height: 100vh;
  overflow: hidden;

  position: fixed;
  left: 0;
}
.main__body-wrapper .main__body-container .left-side-container:hover{
  overflow: auto;
}
.main__body-wrapper .main__body-container .left-side-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(240,242,245);
} 
.main__body-wrapper .main__body-container .left-side-container .left-side-top-container{
  width: 100%;
  border-bottom: 1px solid rgb(186, 185, 185);
  padding-bottom: 10px;
  margin-bottom: 10px;

  padding-left: 10px;
}
.main__body-wrapper .main__body-container .left-side-container .left-side-bottom-container{
  border: none;
}
.main__body-wrapper .main__body-container .left-side-container .left-side-top-container .left-side-row-link{
  color: black;
}
.main__body-wrapper .main__body-container .left-side-container .left-side-top-container .left-side-row-link .left-side-row{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 7px;
  width: 100%;
  border-radius: 5px;
}
.main__body-wrapper .main__body-container .left-side-container .left-side-top-container .left-side-row-link .left-side-row:hover{
  background-color:rgba(208, 207, 207, 0.82);
}

.main__body-wrapper .main__body-container .left-side-container .left-side-top-container .left-side-row-link .left-side-row .left-side-row-image img
,.main__body-wrapper .main__body-container .left-side-container .left-side-top-container .left-side-row-link .left-side-row .left-side-row-icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.main__body-wrapper .main__body-container .left-side-container .left-side-top-container .left-side-row-link .left-side-row .left-side-row-icon {
 background-color: rgb(205, 204, 204);
 display: flex;
 justify-content: center;
 align-items: center;
}
.main__body-wrapper .main__body-container .left-side-container .left-side-top-container .left-side-row-link .left-side-row .left-side-row-text{
  font-size: .9rem;
}
.main__body-wrapper .main__body-container .left-side-container .left-side-top-container .left-side-row-link #left-side-row-shortcut{
  font-weight: bold;
  color: rgb(138, 136, 136);
}
.main__body-wrapper .main__body-container .left-side-container .left-side-top-container .left-side-row-link #left-side-row-shortcut:hover{
  background-color: transparent;
}

/* left side - Scrollbar CSS */
.left-side-container::-webkit-scrollbar {
  width: 12px;
}
.left-side-container::-webkit-scrollbar-track {
  background: #f0f2f5;
}
.left-side-container::-webkit-scrollbar-thumb {
  background-color: #b8b7b7;
  border-radius: 10px;
  border: 3px solid rgb(240,242,245);
}

/*------------------------- middle side */
.main__body-wrapper .main__body-container .middle-container{
  width: 55%;
  height: 100vh;
}

/*------------------------------ story */

.middle-container .middle-story-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding:5px 10px;
  position: relative;
}

.middle-container .middle-story-container .middle-story-box{
  width: 20%;
  /* width: 120px; */
  height: 200px;
  border-radius: 13px;
  overflow: hidden;
  background-color:rgba(117, 111, 111, 0.653);
  position: relative;
  box-shadow: 0 0 1px rgb(200, 196, 196);
}
.middle-container .middle-story-container .middle-story-box:hover{
   opacity: .92;
}
.middle-container .middle-story-container .middle-story-box .middle-story-image{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  
}
.middle-container .middle-story-container .middle-story-box .middle-story-image img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.middle-container .middle-story-container .middle-story-box .middle-story-image img:hover{
  transform: scale(1.02);
}
.middle-container .middle-story-container .middle-story-box .middle-user-profile-image{
  position: absolute;
  top: 10px;
  left: 10px;
}
.middle-container .middle-story-container .middle-story-box .middle-user-profile-image img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid rgb(67, 121, 238);
}
.middle-container .middle-story-container .middle-story-box .middle-user-name{
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.middle-container .middle-story-container .middle-story-box .middle-user-name .user-name{
  color: white;
  font-size: .8rem;
  font-weight: bold;
}
/* first box  */

.middle-container .middle-story-container .middle-story-first-box .middle-story-image {
  align-items: flex-start;
  background-color: white;
}
.middle-container .middle-story-container .middle-story-first-box .middle-story-image img{
  width: 100%;
  height: 150px;
  transition: all 0.3s ease;
}
.middle-container .middle-story-container .middle-story-first-box .middle-user-name{
  left: 50%;
  transform: translate(-50%);
}
.middle-container .middle-story-container .middle-story-first-box .middle-user-name .user-name{
  color: black;
  font-size: .6rem;
}
.middle-container .middle-story-container .middle-story-first-box .middle-plus-icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(22,106,218);
  position: absolute;
  bottom: 32.5px;
  left: 50%;
  transform: translate(-50%);
  color: white;
}
.middle-container .middle-story-container .middle-story-next-link .middle-story-next-icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee;
  color: gray;
  box-shadow: 0 0 3px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.middle-container .middle-story-container .middle-story-next-link .middle-story-next-icon-tooltip{
  display: none;
  position: absolute;
  right:0;
  bottom: 25%;
  transform: translateX(30%);
  background-color: rgba(26, 25, 25, 0.765);
  padding: 7px 13px;
  border-radius: 7px;
  z-index: 2;
  color: white;
  font-size: .8rem;
}
.middle-container .middle-story-container .middle-story-next-link:hover .middle-story-next-icon-tooltip{
  display: block;
}

/* ----------------------------------- facebook content after story box */
.middle-container .middle-post-container{
  padding: 10px 60px;
}
/*-------------------------------------- user create post */
.middle-container .middle-post-container .middle-user-create-post-box{
  background-color: white;
  border-radius: .8rem;
  padding: 10px 15px;
}
.middle-user-create-post-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(210, 203, 203);
}
.middle-user-create-post-top-image img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.middle-user-create-post-top-input{
  width: 100%;
}
.middle-user-create-post-top-input-box{
  width: 100%;
  padding: 10px 20px;
  border-radius: 1.2rem;
  font-size: 1rem;
  background-color:rgb(240,242,245);
}
.middle-user-create-post-bottom{
  display: flex;
  justify-content: space-around;
}
.middle-user-create-post-bottom-box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: .5rem;
}
.middle-user-create-post-bottom-box:hover{
  background-color: rgb(240,242,245);
}
.middle-user-create-post-bottom-box-text{
  color: gray;
}
.middle-user-create-post-bottom-box-icon img{
  width: 1.8rem;
}

/* -------------------------create room */
.middle-container .middle-post-container .middle-user-create-room-box{
  height: 65px;
  width: 100%;
  margin-top: 10px;
  background-color: white;
  padding:0 5px 0 15px;
  border-radius: 10px;
}
.middle-user-create-room-sldie-container{
  width: 100%;
  height: 100%;
  overflow-x:auto;
  display: flex;
  align-items: center;
  gap: .95rem;
}
.middle-user-create-room-sldie-container::-webkit-scrollbar {
    display: none;
}
.middle-user-create-room-button{
  width: 9rem;
  height: 2.5rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #2b9ee67b;
}
.middle-user-create-room-button:hover{
 background-color: #eee;
 border: 1.5px solid #0e89d57b;
}
.middle-user-create-room-icon{
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #2b9de6 0%, #FC00FF 100%);
  font-size: 1.15rem;
}
.middle-user-create-room-button-text{
  margin-left: .5rem;
  color: #2b9de6;
  font-weight: bold;
  font-size: .9rem;
}
/* create room user profile */

.middle-user-create-room-user-profile{
  position: relative;
}
.middle-user-create-room-user-profile,.middle-user-create-room-user-profile-image{
  height: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.middle-user-create-room-user-active-status{
  width: 11px;
  height: 11px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: rgb(13, 191, 13);
  position: absolute;
  bottom: 0;
  right: 0;
}

/* middle user post - facebook content */

.middle-user-post-box img{
  width: 20px;
}
.middle-user-post-container{
  background-color: white;
  border-radius: .7rem;
  margin-top: 15px ;
  padding:10px 15px;
} 

.middle-user-post-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle-user-post-top-left{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.middle-user-post-top-left-profile-image,.middle-user-post-top-left-profile-image img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.middle-user-post-top-left-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  /* background-color: pink; */
}
.middle-user-post-top-left-date-and-privacy-container{
  display:flex;
  align-items: center;
  gap: .4rem;
  color: gray;
  font-size: 14px;
}

.middle-user-post-top-left-circle-point{
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: gray;
}

.middle-user-post-top-right{
  display: flex;
  gap: .5rem;
}

.middle-user-post-top-right-icon-container{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.middle-user-post-top-right-icon-container:hover{
  background-color: rgb(189, 187, 187);
}
.middle-user-post-description{
  padding: 10px 0;
}
.middle-user-post-image,.middle-user-post-image img{
  width: 100%;
}
.middle-user-post-image img{
  border-bottom: .5px solid rgb(240, 236, 236);
}
/* bottom like cmt and share display number */
.middle-user-post-bottom-like-cmt-share-number-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(95, 93, 93);
  font-size: .9rem;
  padding: .9rem 0;
}
.middle-user-post-bottom-like-number{
  display: flex;
  align-items: center;
}

.middle-user-post-bottom-like-number-emoji{
  position: relative;
  width: 40px;
  height: 20px;
}
.middle-user-post-bottom-like-number-emoji img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.middle-user-post-bottom-like-number-emoji img:first-child{
  left: 0;
  z-index: 2;
  position: absolute;
}
.middle-user-post-bottom-like-number-emoji img:last-child{
  left: 15px;
  position: absolute;
}

.middle-user-post-bottom-cmt-share-number{
  display: flex;
  align-items: center;
  gap: .7rem;
}

/* like comment and share button */
.middle-user-post-bottom-like-cmt-share-button-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .3rem 0;
  border-top: 0.5px solid rgb(210, 201, 201); 
}

.middle-user-post-bottom-like-cmt-share-button{
  border-radius: .4rem;
  padding: .4rem .7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.middle-user-post-bottom-like-cmt-share-button:hover{
  background-color: rgb(229, 225, 225);
}











/*---------------------- right side */
.main__body-wrapper .main__body-container .right-side-container{
  width: 22.5%;
  height: 100vh;
  overflow-x:auto;
  position: fixed;
  right: 0;
}
.main__body-wrapper .main__body-container .right-side-container:hover::-webkit-scrollbar-thumb{
  background-color: #b8b7b7;
}
.right-side-container::-webkit-scrollbar {
  width: 12px;
}
.right-side-container::-webkit-scrollbar-track {
  background: #f0f2f5;
}
.right-side-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 3px solid rgb(240,242,245);
  background-color: transparent;
}
.right-side-sponsor-container{
  border-bottom: .5px solid rgba(135, 134, 134, 0.546);
}
.right-side-sponsor-title{
  font-weight: bold;
  font-size: 1.2rem;
  padding: .6rem;
}
.right-side-sponsor-box{
  margin-bottom: .5rem;
  border-radius: .5rem;
  padding: 0.45rem;
  position: relative;
}
.right-side-sponsor-box:hover{
  background-color: rgb(222, 219, 219);
}
.right-side-sponsor-box .right-side-sponsor-link{
  display: flex;
  align-items: center;
  gap: 10px;
}
.right-side-sponsor-image,.right-side-sponsor-image img{
  width: 6.25rem;
  height: 6.25rem;
  border-radius: .5rem;
}
.right-side-sponsor-text{
  color: black;
  font-size: 1rem;
  line-height: 1.4rem;
}
.right-side-sponsor-text-url{
  color: gray;
  font-size: .8rem;
  display: block;
}

/*sponsor hidden button and dropdwon*/

.right-side-sponsor-hidden-button{
  display: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.3rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  box-shadow: 0 0 5px gray;
  cursor: pointer;
  transition: all 1s ease 1s;
  z-index: 3;
}
.right-side-sponsor-hidden-button  i{
  transition: .5s ease .3s;
}
.right-side-sponsor-box:hover .right-side-sponsor-hidden-button{
  display: block;
}
.right-side-sponsor-hidden-button:hover i{
  transform: rotate(360deg);
}
/* sponsor hidden button  */
.right-side-sponsor-hidden-dropdown {
  display: none;
	position: absolute;
  top: 55%;
  right: 0;
  width:340px;
	background-color: #fff;
	padding: .5rem;
	border-radius: .6rem;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
  z-index: 2;
}

.right-side-sponsor-hidden-dropdown::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	right: 1.5rem; 
	border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #fff;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

/* right side sponsor dropdown */
.right-side-sponsor-hidden-dropdown-content .right-side-sponsor-hidden-dropdown-content-link{
  display: flex;
  gap: .8rem;
  font-size: .9rem;
  padding: .4rem;
  border-radius: .5rem;
  color: rgb(61, 60, 60);
}
.right-side-sponsor-hidden-dropdown-content .right-side-sponsor-hidden-dropdown-content-link:hover{
  background-color: #eee;
}
.right-side-sponsor-hidden-dropdown-content-icon{
  font-size: 1.2rem;
}
.right-side-sponsor-hidden-dropdown-content-text{
  font-weight: bold;
}
.right-side-sponsor-hidden-dropdown-content-text-small{
  display: block;
  font-weight: 100;
}

/* page profile */

.right-side-page-container{
 margin-top: .4rem;
 padding-bottom: .4rem;
 border-bottom: .5px solid rgba(135, 134, 134, 0.546);
 /* margin-bottom: 1rem; */
}

.right-side-page-title-container{
  font-weight: bold;
  font-size: .85rem;
  padding-left:.6rem;
  color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.right-side-title-icon{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.right-side-title-icon:hover{
  background-color: rgb(226, 222, 222);
}

/* right side page dropdown */
.right-side-page-title-dropdown{
 position: relative;
 display: none;
}
.right-side-page-title-dropdown::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
  top: -10px;
	right: 2.5rem; 
	border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #fff;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
  z-index: 3;
}
.right-side-page-title-dropdown-container{
  background-color: white;
  box-shadow: 0 0 .6rem gray;
  min-width: 320px;
  max-height: 200px;
  padding: .5rem;
  border-radius: .8rem;
  position: absolute;
  right: 1rem;
  top: 0;
  z-index: 2;
  overflow-y: auto;
}
.right-side-page-title-dropdown-content{
  display: flex;
  align-items: center;
  gap: .7rem;
  margin-bottom: .1rem;
  padding: .4rem;
  border-radius: .7rem;
  cursor: pointer;
}
.right-side-page-title-dropdown-content:hover{
  background-color: #eee;
}
.right-side-page-title-dropdown-content-image,.right-side-page-title-dropdown-content-image img{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.right-side-page-title-dropdown-content-text{
  color: black;
}

/* right side page dropdown scroll bar */

.right-side-page-title-dropdown-container::-webkit-scrollbar {
  width: 8px;
}
.right-side-page-title-dropdown-container::-webkit-scrollbar-thumb {
  background-color: #b8b7b7;
  border-radius: 10px;
  border-right: 2px solid rgb(240,242,245);
}

.right-side-page-page-profile{
  border-radius: .5rem;
}
.right-side-page-page-profile .right-side-page-page-profile-link{
  display: flex;
  align-items: center;
  gap: .6rem;
  padding: 5px;
}
.right-side-page-page-profile:hover{
  background-color:rgb(222, 219, 219);
}
.right-side-page-profile-image,.right-side-page-profile-image img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.right-side-page-profile-name{
  color: black;
}
.right-side-page-bottom{
  padding: 0 .6rem;
}
.right-side-page-bottom-content{
  display: flex;
  align-items: center;
  gap: .6rem;
  padding:10px;
  border-radius: .5rem;
  margin-bottom: .1rem;
  color: rgb(96,98,102);
}
.right-side-page-bottom-content:hover{
  background-color:rgb(222, 219, 219);
}

/* firend request */
.right-side-friend-request-container{
  border-bottom: .5px solid rgba(135, 134, 134, 0.546);
  padding-bottom: .5rem;
}
.right-side-friend-request-title-container{
  font-weight: bold;
  font-size: .85rem;
  padding: 1rem 0 1rem .6rem;
  color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-side-friend-request-see-more-link{
  color: #2b9de6;
}
.right-side-friend-request-profile{
  padding:.6rem;
  border-radius: .7rem;
}
.right-side-friend-request-profile:hover{
  background-color: rgb(222, 219, 219);
  cursor: pointer;
}
.right-side-friend-request-profile-container{
  display: flex;
  align-items: flex-start;
  gap: .8rem;
  position: relative;
  margin-bottom: .5rem;
}

.right-side-friend-request-profile-image,.right-side-friend-request-profile-image img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.right-side-friend-request-name{
  font-weight: bold;
  
}
.right-side-friend-request-mutual-friend{
  display: flex;
  align-items: center;
  font-size: .85rem;
  font-weight: 100;
  color: gray;
  padding-top: .3rem;
}
.right-side-friend-request-mutual-friend-image{
  height: 1.3rem;
  position: relative;
}
.right-side-friend-request-mutual-friend-image img{
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  position: absolute;
  border: 2px solid rgb(240,242,245);
}
.right-side-friend-request-mutual-friend-image img:first-child{
  left: 0;
  z-index: 2;
}
.right-side-friend-request-mutual-friend-image img:last-child{
  left: .8rem;
}
.right-side-friend-request-mutual-friend-text{
  margin-left: 37px;
}
.right-side-friend-request-time{
  position: absolute;
  right: 0;
  top: 20%;
  color: gray;
}
.right-side-friend-request-button-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: .5rem;
}
.right-side-friend-request-button{
  width: 90px;
  height: 35px;
  border-radius: .5rem;
  background-color: rgb(39, 118, 221);
  color: white;
  font-weight: bold;
  cursor: pointer;
  z-index: 3;
}
.right-side-friend-request-button-delete{
  color: black;
  background-color: rgb(216, 212, 212);
}
.right-side-friend-request-button-delete:hover{
  box-shadow: 0 0 2px gray;
}



/* contact */
.right-side-contact-profile-container{
  border-bottom: .5px solid rgba(135, 134, 134, 0.546);
  padding-bottom: .6rem;
}
.right-side-contact-title{
  font-weight: bold;
  font-size: .85rem;
  padding: 1rem 0 1rem .6rem;
  color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-side-contact-title-icon-box{
  display: flex;
  gap: .8rem;

}
.right-side-contact-title-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}
.right-side-contact-title-icon:hover{
  background-color:rgb(231, 227, 227); 
}

.right-side-contact-profile{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .6rem;
  border-radius: .6rem;
  cursor: pointer;
}
.right-side-contact-profile:hover{
  background-color:rgb(216, 212, 212) ;
}
.right-side-contact-profile-image,.right-side-contact-profile-image img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
}
.right-side-contact-profile-image-active-status{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid rgb(240,242,245);
  background-color: rgb(13,191,13);
  position: absolute;
  bottom: 0;
  right: 0;
}

.right-side-group-conversation-title{
  font-weight: bold;
  font-size: .85rem;
  padding: 1rem 0 1rem .6rem;
  color: gray;
}

.right-side-group-profile{
  padding: .6rem;
  border-radius: .6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.right-side-group-profile:hover{
  background-color:rgb(216, 212, 212) ;
  cursor: pointer;
}
.right-side-group-profile-image-container{
  position: relative;
  width: 30px;
  height: 30px;
}
.right-side-group-profile-image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
}
.right-side-group-profile-image:first-child{
  top: 0;
  right: 0;
}
.right-side-group-profile-image:last-child{
  bottom: 0;
  left: 0;
}
.right-side-group-profile-image-and-active-status{
  position: relative;
}
.right-side-group-profile-active-status{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(13,191,13);
  position: absolute;
  bottom: 0;
  right: 0;
}
/* create new group button */
.right-side-group-profile-plus-icon-container{
  background-color: rgb(224, 221, 221);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

